{% block title %}<h1>Bienvenue sur la page de modification de mes formulaires!</h1>{% endblock %}
 {% block body %}
<link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="/enfant/edit"><button type="button" class="btn btn-secondary">Enfant</button>
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/famille/edit"> <button type="button" class="btn btn-warning"> Famille</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/personneresponsable/edit"><button type="button" class="btn btn-success">Personne Responsable</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dossiermedical/edit"><button type="button" class="btn btn-info">Dossier Médical</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dossierscolaire/edit"><button type="button" class="btn btn-light">Dossier Scolaire</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href=" /dossierstage/edit"><button type="button" class="btn btn-danger">Dossier Stage</button></a>
                </li>
            </ul>
                        
    </nav>
<h2>Liste des dossiers medicaux :</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for responsable in responsables %}
            <tr>
                <td>{{ responsable.idRP }}</td>
                <td>{{ responsable.NomPR }}</td>
                <td>{{ responsable.PrenomPR }}</td>
                <td>{{ responsable.TelephonePR }}</td>
                <td><a href="{{ path('edit_responsable', {'id': responsable.id}) }}" class="btn btn-primary">Modifier</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 {% endblock %}